@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1E63B0;
  --color-secondary: #3B76BA;
  --color-light: #F1F0FE;
  --color-dark: #1F2937;

  --color-success: #22C55E;
  --color-danger:  #EF4444;
  --color-warning: #F59E0B;
  --color-info:    #0EA5E9;

  --default-font-family: "Poppins";
  
  --radius-verybig: 200px
}